
 $rwidth :200px;
 $table_height:$rwidth*11;

.top {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    border-bottom:20 ;
    background-color: #20242A;
} 
.top .logo {
    float: left;
    color: lightseagreen;
    font-size: 30px;
    line-height: 70px;
} 
.top .search input[type = "submit"] {
    float: right; 
    width: max-content;
    height: 40px;
    color: lightseagreen;
    margin: 12px 0;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    border: 1px solid darken(#DCDCDC, 20%);
    font-size: 1rem
}

.crete_cont{
    color :white;
    width:min-content;
    margin-top:100px;
}

.dashboard_cont{
    width:100%;

}

.sidebar_cont{
    background-color: #20242A;
    width: 300px;
    height:100%;
}
.t_header {
    background-color:white;
    width: 1000px;
    height: 500px;
    position: absolute;
    left: 50%;
    top: 500%;
    box-shadow: 5px 5px 5px 5px white;
    box-shadow: 1.5em;
    transform: translate(-50%, -50%);
    border: 1px solid #20242A ;
    
}
.r_column{
    border: 1px solid #20242A ;
    height: 40px;
    width: 100%;
}

.r1_column{
    border: 1px solid lightseagreen ;
    height: 40px;
    width: 100%;
    // background:;
}

.r_head{
    margin-left:20px;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    color: blue;
    width:200px;

}

.r_data{
    margin-left:20px;
    text-align: center;
    font-weight: normal;
    font-size: 22px;
    color: #d3d3d3;
    width:$rwidth;

}
img{
    margin-left: 40px;
    cursor: pointer;
}
